.sec1 .sec1_content{
    
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
}
.sec1 .sec1_content h1{
    font-size: 50px;
    text-align: left;
}
.sec1 .sec1_content p{
    font-size: 26px;
    text-align: left;
}

.sec1{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20vh;
}
.sec1_img{
    position: relative; 
    
}
.vid1{
    height: 30vh;
    position: absolute;
    left: 59.5%;
    top: 116.5%;
}